body 
  margin 0
  padding 0
  font-family sans-serif
  background orange
.avatar {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.button {
  width: 100%;
  line-height: 40px;
  height: 40px;
  border: 0;
  color: white;
  outline: none;
  background-color: black;
}
