@import '../../assets/styles/variables'

.container-follow
  text-align center
  header
    margin 1.19rem auto 1.62rem
    img
      width 3.64rem
      height .87rem
  .poster
    margin-bottom .56rem
    &.poster-weibo
      overflow hidden
      width 2.55rem
      height 2.55rem
      margin 0 auto
      display flex
      align-items center
      justify-content center
      border-radius (1/2)*2.55rem
      background white
      img
        width 1.03rem
        height 2.3rem
    img
      width 2.55rem
      height 2.55rem
  p, footer
    font-size .33rem
    color white
    line-height 1.4
  footer
    font-size .25rem
    color textColor
    margin-top 2.82rem