@import '../../assets/styles/variables'

.page-loading
  background blue
  transform translate(0, 0)
  transition all 1s
  display flex
  justify-content center
  align-items center
  color white
  &.page-loading-hide
    transform translate(0, 100%)