@import '../../assets/styles/variables'

.button
  display flex
  justify-content center
  align-items center
  width 3.22rem
  height .88rem
  background primary1Color
  margin 0 auto
  box-shadow 0 -.1rem .3rem shadowColor
  &:hover
    background lighten(primary1Color, 20%)
  img
    width 1.6rem
    height .51rem