@import '../../assets/styles/variables'

.button
  display flex
  justify-content center
  align-items center
  width 3.22rem
  height .88rem
  background primary1Color
  margin 0 auto
  img
    width 1.6rem
    height .51rem