@import '../../assets/styles/variables'

.page-popup
  background rgba(#0d4973, .95)
  transform translate(0, 100%)
  transition all .2s
  &.page-popup-active
    transform translate(0, 0)
  .icon-close
    position absolute
    right 0
    top 0
    width 1.2rem
    height 1.2rem
    background url(../../assets/images/icon-close.png) center center no-repeat
    background-size .42rem .44rem