@import '../../assets/styles/variables'

.page-result
  background url(../../assets/images/bg.jpg) center top no-repeat
  background-size cover
  .logo
    padding-top .66rem
    padding-bottom 0.5rem
  .button
    margin-top .8rem
  .result-form
    .players-list
      padding-top .1rem
    header
      text-align center
      img
        width 4.81rem
        height .79rem
    p
      text-align center
      color textColor
      margin-top .1rem
      font-size .29rem
  .form-result-pop
    .context
      height 7rem
    ul
      li
        label
          display block
          text-align left
          margin-bottom .1rem
        input
          width 5.4rem
.additional-player-bar
  position relative
  display flex
  align-items center
  width 6.88rem
  height 2.08rem
  margin 0 auto
  background  url(../../assets/images/bg-ticket-blue.png) center top no-repeat
  background-size cover
  margin-bottom 0
  &.additional-player-bar-captain
    background  url(../../assets/images/bg-ticket-red.png) center top no-repeat
    background-size cover
  ul
    margin-left 2.46rem
    li
      list-style-type none
      line-height 1.3
      color #868585
      &:first-child
        color #2d2d2d