@import '../../assets/styles/variables'

.page-reserve
  background url(../../assets/images/bg.jpg) center top no-repeat
  background-size cover
  .logo
    padding-top .66rem
    padding-bottom 0.5rem
  .button
    margin-top 1.3rem
  .reserve-form
    p
      text-align center
      color textColor
      margin-top .3rem
      font-size .21rem
