.player-bar
  position relative
  display flex
  justify-content center
  align-items center
  width 6.6rem
  height 1.45rem
  margin .72rem auto 0
  background  url(../../assets/images/bg-option-blue.jpg) center top no-repeat
  background-size cover
  margin-bottom 0
  box-shadow 0 -.1rem .45rem shadowColor
  &.player-bar-captain
    background  url(../../assets/images/bg-option-red.jpg) center top no-repeat
    background-size cover
  .icon-man
    width 1.65rem
    height 1.8rem
    background  url(../../assets/images/icon-man.png) no-repeat
    background-size contain
    position absolute
    left 0
    bottom 0
  .btn
    position absolute
    right .46rem
    top .48rem
  .icon-add
    width .5rem
    height .51rem
    background  url(../../assets/images/icon-plus.png) no-repeat
    background-size contain
  .icon-close
    width .42rem
    height .44rem
    background url(../../assets/images/icon-close.png) no-repeat
    background-size contain
  .icon-edit
    width .5rem
    height .51rem
    background  url(../../assets/images/icon-pencil.png) no-repeat
    background-size contain
