/* color */
primary1Color = #000
primary2Color = #000
primary3Color = #000
accent1Color = #000
accent2Color = #000
accent3Color = #000
textColor = #000
secondaryTextColor = #000
alternateTextColor = #000
canvasColor = #000
borderColor = #000
disabledColor = #000
pickerHeaderColor = #000
clockCircleColor = #000

/* space */
spacing = 1.5rem

/* radius */
borderRadius = .4rem
