/* color */

primary1Color = #e4100d
primary2Color = #fe3138
accent1Color = #0c1f6f
textColor = #169ef4
secondaryTextColor = #dcdcdc
alternateTextColor = rgba(22, 158, 244, 0.6)
borderColor = #dadada
shadowColor = #0b2137
  
primary3Color = #000
accent2Color = #000
accent3Color = #000

canvasColor = #000
disabledColor = #000
pickerHeaderColor = #000
clockCircleColor = #000

/* space */
spacing = 1.5rem

/* radius */
borderRadius = .4rem
